.logo-clearchannel {
    width: 18%;
}
main {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr;
}

#modelo3d {

}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}