.logo-clearchannel {
    width: 15%;
}

main {
    display: grid;
    grid-template-columns: 42% 58%;
    grid-template-rows: 1fr;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}