.logo-clearchannel {
    width: 15%;
}

main {
    display: grid;
    grid-template-columns: 42% 58%;
    grid-template-rows: 1fr;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
}